 /*form styles*/
    #msform {
      margin: 50px auto;
      /*text-align: center;*/
      position: relative;
      height: 500px;
      font-size: 17px;
      color: #fff;
    }
    #msform fieldset {
      background: white;
      border: 0 none;
      border-radius: 3px;
      /*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);*/
      padding: 20px 30px;
      box-sizing: border-box;
      width: 80%;
      margin: 0 10%;
      background-color: #0072bc;
      border-radius: 10px;
      
      /*stacking fieldsets above each other*/
      position: relative;
    }
    /*Hide all except first fieldset*/
    #msform fieldset:not(:first-of-type) {
      display: none;
    }
  
    /*headings*/
    .fs-title {
      text-transform: uppercase;
      color: #FFF;
      margin: 20px 0px;
      font-weight: 600;
      text-align: center;
    }
    .fs-subtitle {
      font-weight: normal;
      color: #fff;
      margin-bottom: 20px;
      text-align: center;

    }
    .ui-datepicker-inline{
      display: inline-block !important;
    }


    #msform .styles-inp[type=radio] { 
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }

    /* IMAGE STYLES */
    #msform .styles-inp[type=radio] + img {
      cursor: pointer;
    }

    /* CHECKED STYLES */
    #msform .styles-inp[type=radio]:checked + img {
      outline: 2px solid #f00;
    }


    /* IMAGE STYLES */
    #msform .styles-inp[type=radio] + div.property-size {
      cursor: pointer;
    }

    /* CHECKED STYLES */
    #msform .styles-inp[type=radio]:checked + div.property-size {
      outline: 2px solid #f00;
    }


    .property-size {
        border: 1px solid #eeeeee;
        width: 200px;
        height: 100px;
        background: #eeeeee;
        border-radius: 27px;
        margin: 10px;
        color: #000;
        font-size: 24px;
        padding-top: 33px;
    }

    .property-size:hover {
        border: 1px solid #880b17;
        width: 200px;
        height: 100px;
        background: #880b17;
        border-radius: 27px;
        margin: 10px;
        color: #fff;
    }

    .progress-bar.indeterminate {
      position: relative;
      animation: progress-indeterminate 3s linear infinite;
    }

    @keyframes progress-indeterminate {
       from { left: -25%; width: 25%; }
       to { left: 100%; width: 25%;}
    }


    .on-top-place{
      position: absolute;
      top: 5px;
      left:5px;
      border-radius: 5px;
    }

    #msform .inn-s{
      height:50px;
      font-size: 17px;
    }

    #msform .inn-b{
      height: 50px;
      width: 100%;
      margin-top: 0px;
      font-size: 18px;
      font-weight: bold;
    }


    #msform .form-group{
      padding: 0px 5px;
    }

    #msform .vihcle_transport_box{
      margin: 0px 15%;
    }

    #msform .error{
      color: red;
    }



#msform .radio input[type='radio'] {
  display: none;
  /*removes original button*/
}

#msform .radio label:before {
  /*styles outer circle*/
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid #fff;
    background-color: #fff;
}

#msform .radio label {
  position: relative;
}

#msform .radio label input[type='radio']:checked+span {
  /*styles inside circle*/
     border-radius: 11px;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 11px;
    left: 26px;
    display: block;
    background-color: #880b17;
}